/* Things here */
a.hidden-link, a.hidden-link:hover, a.hidden-link:focus, a.hidden-link:active {
	text-decoration: none;
	color: inherit;
}

/* Infinite progress bar */

.slider {
	position:relative;
	width:40%;
	height:5px;
	overflow-x: hidden;
	margin-top: 45px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.line{
	position:absolute;
	opacity: 0.4;
	background:#4a8df8;
	width:150%;
	height:5px;
}

.subline{
	position:absolute;
	background:#4a8df8;
	height:5px;
}
.inc{
	animation: increase 2s infinite;
}
.dec{
	animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
	from { left: -5%; width: 5%; }
	to { left: 130%; width: 100%;}
}
@keyframes decrease {
	from { left: -80%; width: 80%; }
	to { left: 110%; width: 10%;}
}

.home-hero {
	position: relative;
	z-index: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 80vh;
	max-height: 530px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #000;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	background-image: url("/img/betterbooks.jpg");
}

.home-hero>h1 {
	font-size: 2.708vmax;
	padding: 3.125vmax;
	padding-left: 50%;
	text-align: right;
	position: absolute;
}

.footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* end infinite progress bar */

.dropdown .dropdown-menu {
	-webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	-moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	-ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	-o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

	max-height: 0;
	display: block;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}

.dropdown.show .dropdown-menu {
	-webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	-moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	-ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	-o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	transition: max-height 0.3s, opacity 0.2s, visibility 0s;

	max-height: 190px;
	opacity: 1;
	visibility: visible;
}
