{% for key, assignment in user['assignments'].items() %}
<div class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between {% if assignment['done'] %} border-left-success {% elif assignment['status'] == 2 %} border-left-info {% elif assignment['status'] == 1 %} border-left-warning {% else %} border-left-danger {% endif %}">
		<h6 class="m-0 font-weight-bold text-primary" onclick="location.href='/classes/{{assignment['course_id']}}/assignment/{{assignment['coursework_id']}}/{{assignment['id']}}'" style="cursor:pointer;">
			<bold>{{assignment['name']}}</bold> ({{assignment['class']}})
		</h6>
		<div class="dropdown no-arrow">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
				<!-- <div class="dropdown-header">Options</div> -->
				<a class="dropdown-item" href="{{assignment['link']}}" target="_blank"><i class="fa fa-fw fa-external-link-alt"></i>Open ({{assignment['platform']}})</a>
				<a class="dropdown-item" href="#"><i class="fa fa-fw fa-sticky-note"></i>Add note</a>
				<a class="dropdown-item" href="#"><i class="fa fa-fw fa-clipboard-check"></i>Mark as done</a>
			</div>
		</div>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		{{assignment['description']|urlize(40, true, target="_blank")}}
		<hr>
		<span class="{% if assignment['status'] == 0 and not assignment['done'] %} text-danger {% endif %}">{% if assignment["due"] != None and assignment["timeleft"] != None %}<b>Due:</b> {{assignment['due']}} {% if not assignment['done'] %} ({{assignment["timeleft"]}} {% if assignment['status'] != 0 %}Left{% else %}Late{% endif %}){% endif %}{% else %}<b>Due:</b> Never{% endif %}</span>
	</div>
</div>
{% endfor %}
{% if user['numAssignments'] == 0 %}
<div class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between border-left-primary">
		<h6 class="m-0 font-weight-bold text-primary">
			<bold>No assignments</bold>
		</h6>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		You do not have any assignments from active classes or we were unable to access them.
	</div>
</div>
{% endif %}