{% for key, class in user['classes'].items() %}
<div class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="border-left: 0.25rem solid #{{class['color']}} !important;">
		<h6 class="m-0 font-weight-bold text-primary" onclick="location.href='/classes/{{key}}'" style="cursor:pointer;">
			<bold>{{class['name']}}</bold>
		</h6>
		<div class="dropdown no-arrow">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
				<!-- <div class="dropdown-header">Options</div> -->
				<a class="dropdown-item" href="{{class['link']}}"><i class="fa fa-fw fa-external-link-alt"></i>Open ({{class['platform']}})</a>
				<a class="dropdown-item" href="#"><i class="fa fa-fw fa-sticky-note"></i>Add note</a>
			</div>
		</div>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		{{class['description']|urlize(40, true, target="_blank")}}
	</div>
</div>
{% endfor %}
{% if user['numClasses'] == 0 %}
<div class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between border-left-primary">
		<h6 class="m-0 font-weight-bold text-primary">
			<bold>No classes</bold>
		</h6>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		You are not in any active classes or we were unable to access them.
	</div>
</div>
{% endif %}