<footer class="text-center sticky-footer bg-white" style="padding: 2rem 0rem 0rem;">
	<div class="container my-auto">
		<div class='row justify-content-center'>
			<div class="light-text copyright text-center my-auto">
				{% include 'copyright.txt' %}
			</div>
		</div>
		<div class='row justify-content-center'>
			<span class="footer-social-icon"><a class="btn btn-link btn-floating btn-lg text-dark m-1" style='padding: 0.5rem;' href="https://gitlab.com/imaginaryinfinity/academiic" target="_blank" role="button"><i class="fab fa-gitlab"></i></a></span>
			<a href='/privacypolicy' target='_blank' class='my-auto light-text copyright'>Privacy Policy</a>
		</div>
	</div>
</footer>