<meta name="title" content="Academiic">
<meta name="description" content="Academiic is a webapp for viewing your assignments from several learning management systems in one convenient place.">
<meta name="subject" content="Central hub for LMSs">
<meta name="keywords" content="LMS,classroom,learning,management,hub,school,organization,learning,convenient,assignments,work,webapp,online">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="copyright" content="Finian Wright & Connor Sample">
<meta name="author" content="Finian Wright & Connor Sample">
<meta name='rating' content='General'>
<meta name="url" content="https://academiic.azurewebsites.net">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5J0MVDNB5M"></script>
<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-5J0MVDNB5M');
</script>