<!DOCTYPE html>
<html lang="en">

<head>

	{% include 'meta.html' %}

	<title>Academiic</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	{% if theme == 'dark' %}
	<link id="pageStyle" href="/css/sb-admin-2-dark.css" rel="stylesheet">
	{% else %}
	<link id="pageStyle" href="/css/sb-admin-2.css" rel="stylesheet">
	{% endif %}
	<link href="/css/styles.css" rel="stylesheet">

	<style>
		.mb-4 {
			margin-bottom: 0rem !important;
		}
	</style>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		{% if user is defined %}
		{% include 'sidebar.html' %}
		{% else %}
		{% include 'signedoutsidebar.html' %}
		{% endif %}

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				{% include 'topbar.html' %}

				<!-- Begin Page Content -->
				<div class='home-hero' style='background-image: url("/img/typewriter_background.jpg");'>
					<h1>Privacy Policy</h1>
				</div>
				<div class='home-content'>
					<div class='row' style="margin-top: 50px; padding-bottom: 10px;">
						<div class='col-sm-6 mb-5 mb-md-0'>
							<h2 class='text-left homepage-header'>What information do we collect?</h2>
							<h5>We do not store any information on you, but rather the website processes some data from your Google account. None of this data is stored as it is re-requested from Google every time. This data may include, but is not limited to, your name (for displaying in your profile), your profile picture, and some information about your assignments. The developers of Academiic do not have access to this information. All configuration data for the website is stored in your Google Drive.</h5>
						</div>
						<div class='col' style="display: flex; align-self: center; justify-content: space-around;">
							<span style='font-size: 96px;' class='text-warning'>
								<i class="fas fa-lock"></i>
							</span>
						</div>
					</div>
				</div>
				<div class='home-content'>
					<div class='row' style="margin-top: 50px; padding-bottom: 10px;">
						<div class='col-sm-6 mb-5 mb-md-0'>
							<h2 class='text-left homepage-header'>How do we use the data that is that is requested?</h2>
							<h5>The data that is requested from your accounts is only used to render the resulting website that you see. The data is not stored on our servers and is deleted after the webpage is served to you.</h5>
						</div>
						<div class='col' style="display: flex; align-self: center; justify-content: space-around;">
							<span style='font-size: 96px;' class='text-danger'>
								<i class="fas fa-eye-slash"></i>
							</span>
						</div>
					</div>
				</div>
				<div class='home-content'>
					<div class='row' style="margin-top: 50px; padding-bottom: 10px;">
						<div class='col-sm-6 mb-5 mb-md-0'>
							<h2 class='text-left homepage-header'>What information do we share?</h2>
							<h5>None of your information is shared with any other parties or users of the website. We cannot share your information as we do not store it, and users cannot view each others accounts.</h5>
						</div>
						<div class='col' style="display: flex; align-self: center; justify-content: space-around;">
							<span style='font-size: 96px; color: #4e73df;'>
								<i class="fas fa-handshake-slash"></i>
							</span>
						</div>
					</div>
				</div>

				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
